@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  --color-primary: #4d41c0;
}

* {
  box-sizing: border-box; /* Borda não ocupa espaço adicional */
  font-family: 'Open Sans', sans-serif;
}

html,
body {
  background-color: #e8e8e8;
  /* background-image: url('./assets/img/java.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; */
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}
